@model IEnumerable<_2280605191_HoQuocCuong.Models.Category>

@{
    ViewData["Title"] = "Danh sách phân loại";
}
<h2>Danh sách phân loại</h2>
<div class="d-flex justify-content-end mb-2">
    <p>
        <a asp-action="Add" class="btn btn-primary">Thêm phân loại</a>
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Tên phân loại</th>
            <th>Số lượng sản phẩm</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@(item.Products?.Count ?? 0)</td>
                <td>
                    <a asp-action="Display" asp-route-id="@item.Id" class="btn btn-info">Chi tiết</a>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table> 