@model IEnumerable<_2280605191_HoQuocCuong.Models.Product>
@{
	ViewData["Title"] = "Quản Lý Sản Phẩm";
}
<h2>Quản Lý Sản Phẩm</h2>
<div class="d-flex justify-content-end mb-2">
	<a asp-action="Add" class="btn btn-primary">Thêm Sản Phẩm</a>
</div>
<table class="table">
	<thead> 
		<tr>
			<th>Phân loại</th>
			<th>Tên sản phẩm</th> 
			<th>Giá</th> 
			<th>Hình ảnh</th>
			<th>Mô tả</th>
			<th>Chức năng</th> 
		</tr> 
	</thead> 
	<tbody> 
		@foreach (var product in Model) 
		{ 
			<tr>
				<td>@product.Category?.Name </td>
				<td>@product.Name</td> 
				<td>@product.Price</td> 
				<td>
					@if (!string.IsNullOrEmpty(product.ImageUrl))
					{
						<img src="@product.ImageUrl" alt="Product Image" style="max-width: auto;max-height: 100px" />
					}
				</td>
				<td>@product.Description</td>
				<td> 
					<a asp-action="Display" class="btn btn-info" asp-route-id="@product.Id">Chi tiết</a> |
					<a asp-action="Update" class="btn btn-secondary" asp-route-id="@product.Id">Sửa</a> |
					<a asp-action="Delete" class="btn btn-danger" asp-route-id="@product.Id">Xóa</a> 
				</td> 
			</tr> 
		} 
	</tbody> 
</table>